* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #324a7e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Card */
.card {
  display: flex;
  max-width: 700px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: #cc2c2c;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* LEFT SIDE */
.left-side {
  flex: 1;
  background: linear-gradient(180deg, #7857ff, #2e2be9);
  color: rgb(172, 42, 42);
  text-align: center;
  padding: 40px 25px;
}

.left-title {
  opacity: 0.8;
  margin-bottom: 20px;
}

.score {
  background: rgba(49, 4, 4, 0.712);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-number {
  font-size: 42px;
  font-weight: bold;
}

.score-total {
  font-size: 14px;
  opacity: 0.7;
}

.result-text {
  margin-top: 15px;
  font-size: 22px;
}

.description {
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.85;
}

/* RIGHT SIDE */
.right-side {
  flex: 1;
  padding: 30px;
}

.summary-title {
  margin-bottom: 20px;
}

.score-list {
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 14px;
}

.item-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-left img {
  width: 20px;
}

/* COLORS */
.reaction {
  background: #6d2626;
  color: #d10000;
}

.memory {
  background: #7e6c1d;
  color: #b38f00;
}

.verbal {
  background: #234638;
  color: #009973;
}

.visual {
  background: #344b97;
  color: #3d5afe;
}

.item-score {
  font-weight: bold;
  color: #333;
}

/* BUTTON */
.card-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #303b59;
  color: rgb(61, 36, 36);
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.card-btn:hover {
  background: #000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    margin: 20px;
  }
}